@model IEnumerable<TMApp.Models.ScheduleSet>

@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<br /><br />

<h3 style="position:center;color:mediumblue"> My Task</h3>


