
@{
    ViewBag.Title = "AboutView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .hero-banner {
        background: url(~/img/banner/banner.jpg) no-repeat scroll center center;
        background-size: auto;
        position: relative;
        padding: 70px 0;
        background-size: cover;
        min-height: 450px;
    }
</style>

<div class="container">
    <div class="container text-center">
    <h2>About Us</h2>
    </div> 
    <section class="about-area area-padding-bottom area-padding-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="area-heading">
                        <h4>Moodoo  </h4>
                        <h6>Helps you schedule your meeting,events and your regular activities. </h6>
                        <p>Saves your time and helps you get more done</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-thought"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>Email Reminders</h5>
                                    <p>Moodoo gives you a reminder</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="single-about">
                                <div class="about-icon">
                                    <i class="ti-truck"></i>
                                </div>
                                <div class="single-about-content">
                                    <h5>Locator</h5>
                                    <p>With Moodoo, You can locate where your task is taking place</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>

