
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="home_banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row align-items-center h-100">
                <div class="col-lg-5">
                    <div class="banner_content">
                        <h3>Organize It All<br />With Moodoo</h3>
                        <p>MooDoo is a very user-friendly tool for organizing simple to-do lists on the web. It's heavily focused on tasks, and that's what the tool does best.</p>
                        <p class="banner_btn"> Get Started <i class="ti-arrow-right" onclick="location.href='@Url.Action("LoginView","Login")'"> </i></p>                 
                    </div>
                </div>
                <div class="col-lg-6 ml-auto d-none d-lg-block">
                    <img src="~/img/banner/22.png" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>


<section class="service-area area-padding">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="ti-view-list-alt"></i>
                    </div>
                    <div class="service-content">
                        <h5>Set Your Task</h5>
                        <p> Good for both individual and group use</p>
                        <p>Designed to help you manage your day to day activities</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="ti-envelope"></i>
                    </div>
                    <div class="service-content">
                        <h5>Email Reminder</h5>
                        <p>Moodoo doesnt want your tasks on done</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="single-service">
                    <div class="service-icon">
                        <i class="ti-pin-alt"></i>
                    </div>
                    <div class="service-content">
                        <h5>Locate Task</h5>
                        <p>With Moodoo, You can locate where your task is taking place</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>





<section class="statics-area area-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="image-box">
                    <img src="~/img/banner/about3.png" alt="">
                </div>
            </div>
            <div class="offset-lg-1 col-lg-6">
                <div class="area-heading">
                    <h4>Keep tracks and Details of<br>your activities </h4>
                    @*<h6>And appear great open bearing evening dominion vodi </h6>
                    <p>There earth face earth behold. She'd stars made void two given do and also. Our own grass days. Greater male Shall There faced earth behold She star</p>*@
                </div>

            </div>
        </div>
    </div>
</section>






<script src="~/js/jquery-2.2.4.min.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~//popper.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/bootstrap.min.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/vendors/owl-carousel/owl.carousel.min.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/jquery.ajaxchimp.min.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/waypoints.min.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/mail-script.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/contact.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/jquery.form.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/jquery.validate.min.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/mail-script.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>
<script src="~/js/theme.js" type="ab3c4cb7254640bc182b1ba0-text/javascript"></script>

@*</script>*@
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"
        data-cf-settings="ab3c4cb7254640bc182b1ba0-|49" defer=""></script>






<!-- Header -->
@*<br />
    <header class="header bg-size-contain bg-img-right" style="background-image:url(/images/home/21.png)">
        <div class="overlay opacity-95" style="background-image: linear-gradient(90deg, #fff 30%, transparent 100%);"></div>
        <div class="container">
            <div class="row align-items-center py-9">
                <div class="col-md-6">

                    <h1 class="display-4" data-font="Inconsolata:700"style="font-family:'Times New Roman', Times, serif">Task Manager</h1>
                    <br>
                    <p class="lead-3">WordPress is open source software you can use to create a beautiful website, blog, or app.</p>
                    <br>
                    <a class="btn btn-xl btn-round btn-success" href="#">Download Now</a>

                </div>
            </div>
        </div>
    </header>*@<!-- /.header -->
<!-- Main Content -->
@*<main class="main-content">*@

<!--
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
| Video
|‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
!-->
@*<section class="section" style="color:white">
            <div class="container">
                <div class="row gap-y align-items-center">

                    <div class="col-md-6">
                        <img src="~/images/home/18.png" alt="...">
                    </div>

                    <div class="col-md-5 ml-auto text-center text-md-left">
                        <h2>Take a look inside the box</h2>
                        <p>Fresh fellow even the whole is work outcome them. They original on mountains, drew the support time. The of to graduate. Into to is the to she at return understand.</p>

                        <div class="media align-items-center mt-7 text-left">
                            <div class="mr-4">
                                <a class="btn btn-xs btn-circle btn-info" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><i class="fa fa-play"></i></a>
                            </div>
                            <div class="media-body">
                                <a class="small text-default text-uppercase mb-0" href="https://www.youtube.com/watch?v=ah4pcPbRi2M" data-provide="lightbox"><strong>Play The Video</strong></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </main>*@

<!--
     |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
     | Features
     |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
     !-->
@*<section class="section">
        <div class="container">
            <header class="section-header">
                <h4>Features</h4>

            </header>

            <div class="row gap-y text-center">

                <div class="col-md-6 col-xl-4 feature-1">
                    <p class="feature-icon"><i class="fas fa-tasks"></i></p>
                    <h5>Set Task</h5>
                    <p>Enables you to set your task,by entering the task details such as description,task date,location and other relevant information partaining to the task</p>
                </div>


                <div class="col-md-6 col-xl-4 feature-1">
                    <p class="feature-icon text-primary"><i class="far fa-envelope"></i></p>
                    <h5 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Email Reminder</h5>
                    <p>You cant afford to miss that event,Meeting !</p>
                    <p>Just a quick reminder via Email</p>
                </div>


                <div class="col-md-6 col-xl-4 feature-1">
                    <p class="feature-icon text-danger"><i class="fas fa-location-arrow"></i></p>
                    <h5>Find the Location</h5>
                    <p>With just a click,You can locate their your task is happening on the google map</p>
                </div>

            </div>

        </div>
    </section>*@

